.shard-editor .shard[data-shard-type="markdown"] {
  .shard-renderer {
    padding: 20px;
    background: white;
    min-height: 24px;
  }

  .shard-form textarea {
    background: cornsilk;
    outline: 0;
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 100;
    border-radius: 4px;
    padding: 10px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
    vertical-align: middle;
  }
}
