.shard-form {
  padding: 6px 0px 0 0px;
  position: relative;
  background: #3c98fc;
  color: white;

  &-row {
    display: flex;
    margin: 0 -2.5px 5px -2.5px;
  }

  &-group {
    border: thin solid white;
    padding: 8px 10px 10px 10px;
    margin: 0 2.5px;
    flex: 1;
  }

  .option-container {
    display: inline-block;
    max-width: 100%;
    min-width: 345px;
    border: thin solid white;
    padding: 8px 10px 10px 10px;
    margin: 0 5px;
  }

  .option-label {
    display: block;
    font-size: 11px;
    font-weight: 500;
    margin: 0 6px 5px 0;
    line-height: 14px;
    letter-spacing: 0.1px;
    cursor: text;
  }

  .option-input--text,
  .option-input--date {
    display: inline-block;
    font-size: 12px;
    width: 100%;
    max-width: 300px;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    border: none;
    padding: 2px 5px;
    line-height: 1;
    height: 24px;

    &:focus {
      outline: 0;
    }
  }

  input[type="checkbox"]:focus {
    outline: 1px solid white;
  }
}
